.image-field {
    width: 70%;
    margin: auto;
    background-color: blueviolet;
}
.page {
    display: flexbox;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    column-count: 2;
    background-color: beige;
}
.name {
    flex-wrap: wrap;
    width: 30%;
    text-align: center;
    font-size: 36px;
    text-align: left;
    background-color: aqua;
}