@media screen and (min-resolution: 150dpi) {
    body {
        border: solid black 5px;
        padding: 50px;
        height: auto;
        width: 1240px;
    }
}

@media screen and (min-resolution: 300dpi) {
    body {
        border: solid black 5px;
        padding: 50px;
        height: auto;
        width: 2480px;
    }
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    border: solid black 5px;
    padding: 50px;
    height: auto;
    width: 750px;

}

.cont {
    display: grid;
    grid-template-columns: 3fr 5fr;
    column-gap: 25px;
}


.profile-name {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    letter-spacing: 1px;
    width: 100%;
}

.half-section-title {
    padding-top: 8px;
}

a {
    text-decoration: none;
}

.title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgb(132, 125, 125);
}

.section-content {
    padding-bottom: 8px;
}

.contacts-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
}

.section-layout {
    padding: 10px 0 20px 0;
    width: 100%;
}

.section-list {
    padding-left: 20px;
    font-size: 14px;
}

.courses-content {
    padding: 2px 0 2px 0;
    font-size: 10px;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
}

.responsibilities {
    font-family: 'Lato', sans-serif;
    font-size: 11px;
    font-weight: 100;
    color: #737373;
    padding: 5px;
}

.responsibilities li {
    padding-bottom: 5px;
}

header {
    width: 100%;
    min-height: 270px;
    max-width: 1500px;
}

.contacts-col {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contacts-col-1 {
    display: inline-block;
    padding-right: 35px;
}

.contacts-col-2 {
    display: inline-block;
}